#include "winver.h"

IDI_ICON1               ICON    DISCARDABLE     "ico.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 7,6,22,26
 PRODUCTVERSION 7,6,22,26
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "rasa"
            VALUE "FileDescription", "ifc_exporter"
            VALUE "FileVersion", "7.6.22.26"
            VALUE "LegalCopyright", "Copyright (C) rasa 2022 - 2026"
            VALUE "InternalName", "ifc_exporter"
            VALUE "OriginalFilename", "ifc_exporter.exe"
            VALUE "ProductName", "ifc/nwc export tool"
            VALUE "ProductVersion", "7.6.22.26"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
